<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Dan Lavin | Product Person <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <meta name="author" content="Dan Lavin">
    <meta name="description" content="Dan Lavin: Chicago based product manager, designer, and developer">
    <meta name="keywords" content="product management, product design, web development">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= feed_tag :atom, "#{blog("writing").options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link rel="canonical" href="http://dlavin23.github.io">
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body class="<%= page_classes %> sans-serif">

    <%= partial "header" %>

    <section class="cf bb b--black-10 pv4 pv5-ns bgc-white-offset">
      <header class="tc ph3 pv4 pv5-ns">
        <h2 class="f2 f1-ns lh-title mt0 mb2 black-70"><%= current_resource.data.title %></h2>
        <h3 class="f5 f4-ns lh-title ma0 fw3 gray"><%= current_resource.data.date.strftime('%A %b %d, %Y') %></h3>
      </header>
    </section>

    <section class="cf pv5 mid-gray bb b--light-gray">
      <article class="mw7 center ph3 ph4-m ph5-l lh-copy f5 f4-l black-70 fw4">
        <%= yield %>
      </article>
    </section>

    <%= partial "footer" %>

    <%= javascript_include_tag :app %>
  </body>
</html>
