<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Dan Lavin<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'assets/stylesheets/site' %>
    <%= stylesheet_link_tag 'assets/stylesheets/highlight' %>
    <link rel="canonical" href="http://dlavin23.github.io">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <%= partial "header" %>
    </header>

    <section class="main" role="main">
      <section class="hero">
        <header class="hero-intro">
          <h2 class="article-headline"><%= current_article.title %></h2>
        </header>
      </section>

      <article class="article-wrapper">
        <%= yield %>
      </article>
    </section>

    <footer class="footer-primary" id="contact">
      <%= partial "footer" %>
    </footer>

    <%= javascript_include_tag 'assets/javascripts/app' %>
  </body>
</html>
