<section class="playground">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Playground</h3>
		</header>
	</div>

	<div class="g-row">
		<div class="playground-content">
			<ul class="tabs" ng-init="tab = 1">
				<li ng-class="{active:tab === 1}"><button class="btn btn-hollow" data-ng-click="tab = 1">Personal</button></li>
				<li ng-class="{active:tab === 2}"><button class="btn btn-hollow" data-ng-click="tab = 2">Work</button></li>
			</ul>
			<div class="tab-content" class="tab-1" ng-show="tab === 1">
				<p>This is a place to showcase code and design related stuff that I do...</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam illo excepturi a quia eum fugiat cupiditate! Fuga ratione minus sit, id porro dolores dolorem, voluptates, expedita officiis facere aliquid, obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat neque veritatis recusandae autem mollitia ullam laboriosam animi quaerat id repudiandae deleniti minima quis maiores eveniet culpa accusamus voluptatibus, nesciunt facilis.</p>
			</div>
			<div class="tab-content" class="tab-2" ng-show="tab === 2">
				<p>This is a place to showcase code and design related stuff that I do...</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam illo excepturi a quia eum fugiat cupiditate! Fuga ratione minus sit, id porro dolores dolorem, voluptates, expedita officiis facere aliquid, obcaecati?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat neque veritatis recusandae autem mollitia ullam laboriosam animi quaerat id repudiandae deleniti minima quis maiores eveniet culpa accusamus voluptatibus, nesciunt facilis.</p>
			</div>
		</div>

		<div class="playground-gallery">
			<div class="tab-content" class="tab-1" ng-show="tab === 1">
				<ul>
					<li>
						<a href="#">
							<%= image_tag "codepen-buttons.png", :class => "", :alt => "CodePen" %>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag "codepen-buttons.png", :class => "", :alt => "CodePen" %>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag "codepen-buttons.png", :class => "", :alt => "CodePen" %>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag "codepen-buttons.png", :class => "", :alt => "CodePen" %>
						</a>
					</li>
				</ul>
			</div>

			<div class="tab-content" class="tab-2" ng-show="tab === 2">
				<ul>
					<li>
						<a href="#">
							<%= image_tag "tech-blog.png", :class => "", :alt => "Tech Blog" %>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag "tech-blog.png", :class => "", :alt => "Tech Blog" %>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag "tech-blog.png", :class => "", :alt => "Tech Blog" %>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag "tech-blog.png", :class => "", :alt => "Tech Blog" %>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
