<section class="cf pv4 pv5-ns bgc-white-offset bb b--black-10">
	<div class="mw8 ph3 ph4-m ph5-l center tc-ns">
		<h3 class="f3 f1-ns lh-title b mv3 black-70 avenir">Good <span data-time-of-day></span>, I'm Dan! </h3>
		<h4 class="f5 f3-ns lh-title mv3 black-50 fw3">I'm Chicago based <span class="highlighter">product</span> manager with a passion <span class="db-l">for design, development &amp; user experience.</span></h4>
		<a href="/about" class="f6 f5-ns no-underline grow pv2 ph3 pv3-ns br2 mv2 bg-blue white dib">Learn More</a>
	</div>
</section>

<section class="cf bb b--black-10 pv4 pv5-ns black-70">
	<div class="mw8 center ph3 ph4-m ph5-l">
		<h3 class="f3 f2-ns lh-title b mv3 black-70 avenir">Experience</h3>
		<div class="bb bw2 b--black-10 mw3"></div>
		<div class="cf pt4">
			<div class="fl w-100 w-third-l pa2 mb4">
				<div class="cf ph3-ns pv4-ns ba-ns b--black-05 br2-ns box-shadow-ns">
					<%= image_tag "i-product-management.svg", class: "db", style: "width: 70px;" %>
					<h4 class="lh-title gray-dark fw8">Product Management</h4>
					<p class="f6 lh-copy ma0">Everything starts with the customer, without them, there is no product. I work collaboratively with everyone in the company to come up with creative solutions to real problems. Communication and empathy are keys to success.</p>
				</div>
			</div>

			<div class="fl w-100 w-third-l pa2 mb4">
				<div class="cf ph3-ns pv4-ns ba-ns b--black-05 br2-ns box-shadow-ns">
					<%= image_tag "i-code.svg", class: "db", style: "width: 80px;" %>
					<h4 class="lh-title gray-dark fw8">Web Development</h4>
					<p class="f6 lh-copy ma0"><a href="https://developers.google.com/speed/pagespeed/insights/?url=dan-lavin.com">Performance</a> is design. A great product should load fast and work as intended regardless of device or screen size. Thoughtful architecture and modular components are the key to writing scalable and maintainable code. <a href="https://tachyons.io">Functional CSS</a> is my jam.</p>
				</div>
			</div>

			<div class="fl w-100 w-third-l pa2 mb4">
				<div class="cf ph3-ns pv4-ns ba-ns b--black-05 br2-ns box-shadow-ns">
					<%= image_tag "i-layout-design.svg", class: "db", style: "width: 88px;" %>
					<h4 class="lh-title gray-dark fw8">Product Design</h4>
					<p class="f6 lh-copy ma0">Good design is simple, intuitive, and solves real problems. My process starts with research. I believe in talking to real customers, designing with content, and building prototypes with HTML and CSS. Design systems and pattern libraries FTW!</p>
				</div>
			</div>
		</div>

		<div class="cf tc">
			<a href="/work" class="f6 f5-ns no-underline grow pv2 ph3 pv3-ns br2 mv2 bg-blue white dib">View Work</a>
		</div>
	</div>
</section>

<section class="cf pv4 pv5-ns bb b--black-10 bgc-white-offset">
	<div class="mw8 center ph3 ph4-m ph5-l">
		<h3 class="f3 f2-ns lh-title b mv3 black-70 avenir">Writing</h3>
		<div class="bb bw2 b--black-10 mw3"></div>
		<div class="cf pa2">
		  <% blog("writing").articles[0...3].each do |article| %>
				<article class="mw7 pv4">
					<header>
						<h5 class="f4 f3-ns lh-title lh-solid ma0">
							<%= link_to article.title, article, class: "black-70 hover-blue no-underline" %>
							<span class="black-50 f6 fw6 db"><%= article.date.strftime('%b %e') %></span>
						</h5>
					</header>

					<div class="nested-copy-line-height nested-img color-gray">
						<%= article.summary %>
					</div>
				</article>
		  <% end %>
		</div>

		<div class="cf tc">
			<a href="/writing" class="f6 f5-ns no-underline grow pv2 ph3 pv3-ns br2 mv2 bg-blue white dib">View All</a>
		</div>
	</div>
</section>
