<section class="hero">
	<header class="hero-intro">
		<h2 class="hero-headline">Hello, I'm Dan...</h2>
		<h3 class="hero-tagline">A Front-End Engineer With a Passion for Design &amp; User Experience.</h3>
	</header>
</section>

<section class="about">
	<div class="g-row">
		<header>
			<h3 class="section-headline">About Me</h3>
		</header>

		<div class="about-photo">
			<%= image_tag "bio-photo.jpg", :alt => "Dan Lavin" %>
		</div>

		<div class="about-content">
			<p>Currently, I work at <a href="http://www.leapfrogonline.com/">Leapfrog Online</a>, where I focus on building scalable and maintainble user interfaces that work beautifully across all platforms (responsive design). I believe <a href="https://developers.google.com/speed/pagespeed/insights/?url=dlavin23.github.io">performance</a> IS design. I strive to write clean and understandable code using object oriented and <a href="https://smacss.com/">SMACSS</a> based principles. I speed up and automate front end workflows with tools like gulp and have experience working with tools, libraries and frameworks like: node, express, middleman, ruby on rails, jQuery, Angular, and Sass.</p>
			<p>Outside of work, I enjoy spending time with my wife, traveling, reading, learning new things, drinking unnecessary amounts of <a href="http://revbrew.com/home">beer</a> &amp; <a href="http://www.heritagebicycles.com/">coffee</a>, and trying all of great <a href="http://www.yelp.com/search?find_desc=Restaurants&find_loc=Chicago%2C+IL&ns=1#start=0&sortby=review_count">food</a> the Windy City has to offer. When the Chicago weather permits, I love spending time outdoors. In the summer you can usually find me running along the lake, attempting to golf, or playing sand volleyball and basketball.</p>
		</div>
	</div>
</section>

<section class="thoughts">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Recent Thoughts</h3>
		</header>
	</div>

	<div class="g-row">
    <% blog.articles[0...4].each do |article| %>
			<article class="thoughts-article">
				<header>
					<h5 class="thoughts-headline">
						<%= link_to article.title, article %>
						<span><%= article.date.strftime('%b %e') %></span>
					</h5>
				</header>
				<p><%= article.summary %></p>
				<a href="<%= article.url %>" class="btn btn-hollow">Read more</a>
			</article>
    <% end %>
	</div>
</section>

<%= partial "playground" %>
