<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Dan Lavin | Product Person <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <meta name="author" content="Dan Lavin">
    <meta name="description" content="Portfolio of Dan Lavin, a Chicago based product manager, designer, and developer">
    <meta name="keywords" content="product management, product design, web development">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag :site %>
    <link rel="canonical" href="http://dlavin23.github.io">
  </head>
  <body>

    <%= partial "header" %>

    <main class="bg-white-offset py-base px-half px-md" role="main">
      <%= yield %>
    </main>

    <%= partial "footer" %>

    <%= javascript_include_tag :app %>
  </body>
</html>
