---
blog: writing
pageable: true
per_page: 12
---

<section class="cf bb b--black-10 pv4 pv5-ns bgc-white-offset">
  <header class="tc ph3 pv4 pv5-ns">
    <h2 class="f2 f1-ns lh-title mt0 mb2 black-70">Writing</h2>
    <h3 class="f5 f4-ns lh-title ma0 fw3 gray">Thoughts on Product Management, Design, Development, and More. </h3>
  </header>
</section>

<section class="cf">
  <div class="mw8 center pv4">
    <ul class="tags list pl0 ma0 tc">
      <li class="dib mh1 mb3 mb0-ns">
        <%= link_to "All", 'writing', class: "f5 no-underline pv3 ph4 br2 dib bg-animate" %>
      </li>

      <% blog("writing").tags.each do |tag, article| %>
        <li class="dib mh1 mb3 mb0-ns"><%= link_to "#{tag}", tag_path(tag), :class=>"f5 no-underline pa3 br2 bg-near-white mid-gray dib bg-animate hover-bg-moon-gray" %></li>
      <% end %>
    </ul>
  </div>
</section>

<section class="cf dark-gray pv3">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <% page_articles.each_with_index do |article, i| %>
      <article class="article-list fl pa3 pa4-m pa5-l">
        <header>
          <h5 class="f4 mt0 lh-title">
            <%= link_to article.title, article, class: "dark-gray no-underline hover-blue" %>
            <span class="gray f6 db"><%= article.date.strftime('%b %e') %></span>
          </h5>
        </header>

        <div class="mm-blog-copy">
          <%= article.summary %>
        </div>
        <a href="<%= article.url %>" class="blue no-underline grow dib">Read more</a>
      </article>
    <% end %>
  </div>
</section>
