---
pageable: true
per_page: 10
---

<section class="hero hero-thoughts">
  <header class="hero-intro">
    <h2 class="hero-headline">Thoughts on...</h2>
    <h3 class="hero-tagline">Product Design, Development, and User Experience </h3>
  </header>
</section>

<section class="thoughts">
  <div class="g-row">
    <div class="thoughts-content">
      <% page_articles.each_with_index do |article, i| %>
        <article>
          <h3 class="thoughts-headline">
            <%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span>
          </h3>
          <%= article.summary %>
          <a href="<%= article.url %>" class="btn btn-primary btn-medium">Read more <i class="fa fa-chevron-circle-right"></i></a>
        </article>
      <% end %>
    </div>

    <aside class="thoughts-sidebar">
      <header>
        <h4 class="thoughts-sidebar-headline">Recent Articles</h4>
      </header>
      <div class="margin-bottom">
        <ol class="no-style">
          <% blog.articles[0...5].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>
      </div>

      <header>
        <h4 class="thoughts-sidebar-headline">Tags</h4>
      </header>
      <div class="margin-bottom">
        <ol class="list-inline pull-left">
          <% blog.tags.each do |tag, articles| %>
            <li class="margin-bottom">
              <%= link_to "#{tag} (#{articles.size})", tag_path(tag), :class => 'btn btn-hollow btn-small' %>
            </li>
          <% end %>
        </ol>
      </div>

      <header>
        <h4 class="thoughts-sidebar-headline">By Year</h4>
      </header>
      <ol class="pull-left list-inline">
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year), :class => 'btn btn-hollow btn-small' %></li>
        <% end %>
      </ol>
    </aside>
  </div>
</section>

